{% extends 'base.html.twig' %}

{% block title %}Hello NewPasswordController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {{ form_start(newPasswordForm) }}

    {# To display all the form childs #}

    {{ form_widget(newPasswordForm) }}

    <button>Reset the new password</button>

    {{ form_end(newPasswordForm) }}

    <button type="submit"><a href="{{ path('app_login') }}">login page</a></button>
</div>
{% endblock %}
